body
{
    font-family: 'Quicksand', sans-serif;
    margin:0px;
    padding:0px;    
}
#header
{
    display:block;
    width:100%;
    height:800px;
    background: rgb(173, 207, 22);  
    display: flex;  
    flex-direction: column;  
    z-index:0;   
}
#header-separator
{
    display:block;
    width:100%;
    height: 10px;
    background: #fff;;
    box-shadow: 0px -10px 20px #73871c , 0px -10px 40px #73871c ;
    z-index:999;
}
#nav-bar
{
    background:#fff;
    height:50px;    
    box-shadow: 0px 10px 40px #73871c;
    position: fixed;
    min-width:100%;
    width: auto;
}
#header-img
{
    height: 30px;
    margin: 10px;
}
#nav-menu
{
    display:flex;
    float:right;
    list-style: none;
    margin: 0px;
}
#nav-menu ol {
    margin:0px;
}
#nav-menu li {    
    display: inline;        
    padding:0px;
    margin:0px;  
}
.nav-link {    
    display: inherit;      
    text-decoration: none;      
    padding:15px;
    color:#73871c;
}
.nav-link:hover {
    background-color:#adcf16;
    color:#fff;
}
#coming-soon-title
{    
    color:#fff;
    margin: auto;
    height:inherit;    
    display:flex;
    align-items: flex-end;
    font-size: 20pt;
}
#coming-soon
{    
    height: inherit;        
    display: flex;
    align-items: center;    
    margin:auto;
    align-items: flex-start;
}
.indays
{
    width:50px;
    height:50px;
    background: #333;         
    margin:10px;
    border-radius: 50%; 
    padding:25px;    
    justify-items:content;
    font-size: 28pt;
    text-align: center;
    border:5px solid #edfda6;
    box-shadow: 0px 20px 10px #73871c;
    color:#fff;
    font-weight:bold;
}
.dhm
{
    font-weight:normal;
    font-size:10pt;    
}
#get-updates
{
    height: inherit;  
    display: flex;
    margin:auto;
    margin-top:-100px;
}
#form input
{
    padding:10px;
    border-radius: 10px;
    border: 0px;
    font-size:14pt;
}
#email
{
    width:300px;
    margin-right: 10px;
}
#submit
{
    background:#fff;
    cursor: pointer;
}
#submit:hover
{
    background: #73871c;
    color:#fff;
}

#video-container
{
    width:auto;    
    text-align: center;
    display: flex;
}
#video-side
{
    width: 100%;
    height:500px; 
    margin: auto;  
    flex-shrink: 1; 
}
#video
{
    width: 100%;
    height:500px; 
}
#video-text
{
    width: 100%;
    flex-shrink: 1;
    padding:10px;
    font-size:14pt;
    color:#727272;
}
.separator
{
    display:block;
    width:100%;
    height: 10px;
    background: #fff;;
    box-shadow: 0px -10px 20px #ccc , 0px -10px 40px #ccc ;
    z-index:999;
}
#mobile-menu
{
    background: yellow;
    margin-top:50px;
    position:fixed;
    min-width:100%;
}
#mobile-menu ol
{
    list-style:none;
    margin: 0px;
    padding-left:0px;
    display: flex;
    flex-direction: column;
    min-width:100%;
}
#mobile-menu ol li
{
    display:block;
    margin: 0px;
    padding-left:0px;
    
}
#mobile-menu ol li a
{
    display:block;
    background:rgb(91, 163, 33);
    text-decoration: none;
    padding:10px 10px;
    color:#fff;
}
#mobile-menu ol li a:hover
{
    background:rgb(72, 124, 29);
}

@media (min-width:650px)
{
    #mobile-menu{
        display:none;
    }
}
@media (max-width:650px)
{
    #header-img
    {
        height:25px;
        margin:15px;
    }
    #nav-menu
    {
        display:none;
    }
    #mobile-menu
    {
        display: inherit;
    }
}